@{
    ViewData["Title"] = "Store Details";
}

@using GroceryDash.Models

<h3>@ViewBag.Store.Name</h3>

@if(@ViewBag.Store.Isles != null){
    @foreach(Isle isle in ViewBag.Store.Isles){
        string seperator = ", ";
        int i = 1;
        <h4>Isle @isle.Position - @isle.Name <a asp-controller="Isle" asp-action="UpdateIsle" asp-route-id="@isle.id"><button>Edit</button></a></h4>
        <h5>@foreach(IslesProductCategories cat in isle.ProductCategories){
               @cat.ProductCategory.Name
               if(i < isle.ProductCategories.Count){
                   @seperator
                }
                i++;
            }
        </h5>
    }
}

<a asp-controller="Isle" asp-action="CreateIsle" asp-route-id="@ViewBag.Store.id"><button class="big-button">Add Isle</button></a>
<a asp-controller="Store" asp-action="UpdateStore" asp-route-id="@ViewBag.Store.id"><button class="big-button">Edit Store Details</button></a>

<a asp-controller="ShoppingList" asp-action="Dashboard"><button class="big-button">Back To Dashboard</button></a>