@{
    ViewData["Title"] = "Create New Isle";
}

@using GroceryDash.Models

@model GroceryDash.Models.CreateIsleView

    <form asp-controller="Isle" asp-action="UpdateIsle" asp-route-id="@ViewBag.Isle.id" method="POST">

        <p><span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" value="@ViewBag.Isle.Name"></p>

        <p><span asp-validation-for="Position"></span>
        <label asp-for="Position"></label>
        <input asp-for="Position" value="@ViewBag.Isle.Position"></p>
    
        <p><span asp-validation-for="CategoryId"></span>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" multiple>
            @if(@ViewBag.Categories != null){
                
                @foreach(ProductCategory category in ViewBag.Categories){
                    Boolean selected = false;
                    @foreach(IslesProductCategories ipc in @ViewBag.Isle.ProductCategories){
                        @if(ipc.ProductCategoryId == category.id){
                            selected = true;
                        }
                    }
                    @if(selected){
                        <option value="@category.id" selected>@category.Name</option>
                    }
                    else{
                        <option value="@category.id">@category.Name</option>
                    }
                    
                }
            }
            <option>

            </option>
        </select>
        </p>
       
        
        <button class="big-button" type="submit" value="Update Isle">Update Isle</button>
    
    </form>

<a asp-controller="ProductCategory" asp-action="CreateProductCategory"><button class="big-button">Add New Product Category</button></a>

<a asp-controller="Store" asp-action="StoreDetails" asp-route-id="@ViewBag.Isle.StoreId"><button class="big-button">Back to Store</button></a>

<a asp-controller="ShoppingList" asp-action="Dashboard"><button class="big-button">Back To Dashboard</button></a>