@{
    ViewData["Title"] = "Shopping Trip";
}

@using GroceryDash.Models

@if(@ViewBag.ShoppingList != null && @ViewBag.Store != null && @ViewBag.Isles != null){
    <h3>@ViewBag.ShoppingList.Name - @ViewBag.Store.Name</h3>

   
    @foreach(IsleProducts isle in ViewBag.Isles){

        string seperator = ", ";
        int i = 1;

        <h4>Isle @isle.Position - @isle.Name</h4>

        <h5>@foreach(IslesProductCategories cat in isle.ProductCategories){
               @cat.ProductCategory.Name
               if(i < isle.ProductCategories.Count){
                   @seperator
                }
                i++;
            }
        </h5>
        
        <ul class="shopping-trip-list">

            @foreach(Product product in isle.Products){
                <li><input class="trip-checkbox" type="checkbox">@product.Name</li>
            }
        </ul>
        
    }

    <a asp-controller="ShoppingList" asp-action="MarkComplete" asp-route-id="@ViewBag.ShoppingList.id"><button class="big-button">Mark Trip Complete</button></a>
}

<a asp-controller="ShoppingList" asp-action="Dashboard"><button class="big-button">Back To Dashboard</button></a>